<div class="wrapper">
    <div class="row">
      <div class="col-sm-4">
        <div class="image-section">
          <img src="../../../assets/images/acadmy.jpg" alt="">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="content">
          <h1>About Us</h1>
          <h2>Academy</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae veniam voluptatibus perferendis impedit deserunt? Esse neque ratione dolore laborum repellat velit soluta molestias excepturi. Perspiciatis dignissimos quo commodi quas et voluptas architecto molestiae dicta. Nobis suscipit fugiat at vel omnis dolores, quo velit tempore temporibus modi accusamus sint quos fugit autem ratione et corrupti exercitationem odit, aliquid unde provident quia eius earum! Culpa
          </p>
        </div>
      </div>
    </div>
  </div>