
    <div class=" container-fluid col-9 mt-5 pt-5 align-items-center justify-content-center contact-page" style="height: 42rem;">
        <div class="row contact-us">
            <div class="col-lg-5 col-sm-12">
                <div class="contact-info-left">
                    
                    <p>It is our goal to delight you every time you dine with us.Your feedback is important to us and helps us understand how to better serve you in the future</p>
                    <ul>
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i>Address: 28 Km by Cairo / Alexandria Desert Road, <br> 6 October, B148, Egypt<br> KS 67213 </p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+1-888 705 770</a></p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope "></i>Email: <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="contact-form-right">
                    <h2>GET IN TOUCH</h2>
                    <p>Looking for more information or want to send us a message or question ?submit your information and we will follow up with you</p>
                    <form [formGroup]="contactForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control my-3" formControlName="name" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                                    <ng-container *ngIf="sname.touched">
                                        <div *ngIf="sname.hasError('required')" class="form-text text-danger">
                                           Name is required
                                        </div>
                                        
                                        <div *ngIf="sname.hasError('pattern')" class="form-text text-danger">
                                          Name is not valid
                                        </div>
                                        </ng-container>
                                </div>
                                
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Your Email" id="email" formControlName="email" class="form-control my-3" name="name" required data-error="Please enter your email">
                                    <ng-container *ngIf="email.touched">
                                        <div *ngIf="email.hasError('required')" class="form-text text-danger">
                                           Email is required
                                        </div>
                                        
                                        <div *ngIf="email.hasError('pattern')" class="form-text text-danger">
                                          Email is not valid
                                        </div>
                                        </ng-container>
                                </div>
                            
                            </div>
                        
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control my-3" id="message" formControlName="message" placeholder="Your Message" rows="4" data-error="Write your message" required></textarea>
                                    <ng-container *ngIf="message.touched">
                                        <div *ngIf="message.hasError('required')" class="form-text text-danger">
                                           Message is required
                                        </div>
                                
                                    </ng-container>
                                </div>
                                <div class="submit-button text-center">
                                    <button class="btn btn-outline-info" id="submit" type="submit" routerLink="">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>