.card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    background-color: rgb(241, 156, 44);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card {
    height: 250px;
    background-color: rgb(243, 182, 102);
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  h1{
    color:black; 
    font-size: 27px;
  }
  .btn {
    border-radius: 20px;
    margin-right: 5px;
  }
  
  .btn-danger {
    background-color: rgb(220, 53, 69);
  }
  
  .btn-primary {
    background-color: rgb(23, 162, 184);
  }
  
  .btn-success {
    background-color: rgb(40, 167, 69);
  }
  