<div class=" container">
  <h1 class=".text-success text-center display-1"> Welcome to MSQ Exam</h1>
  <h1 class=".text-success text-center display-1"> Our Courses</h1>
  <div class="row align-items-center justify-content-md-center " style="height: 700px;">
    <div class="card align-middle mx-4" style="width: 18rem; ">
      <img src="assets/images/physics.png" >
      <div class="card-body align-items-center justify-content-md-center">
        <h2 class="card-title">Physics</h2>
        <!-- <a [routerLink]="['/login']" class="btn btn-primary">Teacher</a> -->
      </div>
    </div>
    <div class="card align-middle mx-4" style="width: 18rem;">
      <img src="assets/images/math.png" >
      <div class="card-body align-items-center justify-content-md-center">
        <h2 class="card-title">Maths</h2>
        <!-- <a [routerLink]="['/login']" class="btn btn-primary ">student</a> -->
      </div>
    </div>
    <div class="card align-middle mx-4" style="width: 18rem; ">
      <img src="assets/images/chemistr.png" >
      <div class="card-body align-items-center justify-content-md-center">
        <h2 class="card-title">Chemistry</h2>
        <!-- <a [routerLink]="['/login']" class="btn btn-primary">Teacher</a> -->
      </div>
    </div>
    <div class="card align-middle mx-4" style="width: 18rem;">
      <img src="assets/images/biology.png" >
      <div class="card-body align-items-center justify-content-md-center">
        <h2 class="card-title">Biology</h2>
        <!-- <a [routerLink]="['/login']" class="btn btn-primary ">student</a> -->
      </div>
    </div>
    <div class="card align-middle mx-4" style="width: 18rem; ">
      <img src="assets/images/english.png" >
      <div class="card-body align-items-center justify-content-md-center">
        <h2 class="card-title">English</h2>
        <!-- <a [routerLink]="['/login']" class="btn btn-primary">Teacher</a> -->
      </div>
    </div>
    <div class="card align-middle mx-4" style="width: 18rem;">
      <img src="assets/images/history.png" >
      <div class="card-body align-items-center justify-content-md-center">
        <h2 class="card-title">History</h2>
        <!-- <a [routerLink]="['/login']" class="btn btn-primary ">student</a> -->
      </div>
    </div>
  </div>
</div>
